body {
    margin: 0;
    padding: 0;
    background: #1a002b;
    color: var(--bgortext-color-white);
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --bgortext-color-white: #fff;
    --font-family: "Bungee", sans-serif;
    --font-weight: 400;
    --font-style: normal;
}

.row {
    margin: 0;
}

.loading {
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bgortext-color-white);
    width: 100%;
    text-align: center;
    top: 0;
    color: #000000;
}

.load-pa {
    background-color: #700ea8;
    padding: 15px 15px;
    border-radius: 50px;
}

.load-la {
    border: 7px dotted #fff;
    padding: 10px 10px;
    border-radius: 20px;
    width: 4px;
    height: 4px;
    margin-top: 0;
    margin-bottom: 0;
    animation: spins 1s infinite linear;


}

@keyframes spins {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading p {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
}

/*  */
.navbar {
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 998;

}

.navbar-brand {
    margin-left: 20px;
}

.navbar-brand span img {
    width: 120px;
    height: 50px;
    object-fit: cover;
}

.navbar-nav {
    margin-left: 200px;


}

.nav-item {
    margin-right: 80px;

}

.nav-link {
    color: var(--bgortext-color-white) !important;

}

.navbar-toggler {
    color: var(--bgortext-color-white);
}

.navbar-toggler-icon {
    filter: invert(1);
}

#lightdark {
    background-color: #64198f;
    color: var(--bgortext-color-white);
    border: none;
    border-radius: 10%;
    padding: 12px;
    cursor: pointer;
}

.dark-mode {
    background-color: #bb8cf8;

}

.dark-mode .main {
    background: linear-gradient(135deg, #e9d7ff, 0%, #d7b8ff, 50%, #c69bff 100%);
}

/*  */
.dark-mode .tech-st h3,
.dark-mode .about-main h3,
.dark-mode .service-first h3,
.dark-mode .project-first h3,
.dark-mode .testi h3 {
    background: linear-gradient(90deg, #3f007d, #6a0dad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*  */


.main {
    background: radial-gradient(circle at top, #2a003f, #6a0dad, #3b0a57);
    color: #fff;
    overflow-x: hidden;
    height: 100vh;
    background-attachment: fixed;

}

.badge h6 {
    font-size: 13px !important;
    color: var(--bgortext-color-white);
    animation: pop 2s infinite linear;
    border-radius: 60px;
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid rgb(176, 140, 212);
    backdrop-filter: blur(10px);
    display: inline-block;
    padding: 10px 20px;
    text-align: center;

}

@keyframes pop {
    0% {
        transform: scale(0.90);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.90);
    }
}


.hero-first {
    margin: 40px 0 0 0;
    padding: 10px 10px;
    text-align: left;
}

.hero-first h2 {
    font-size: 3rem !important;
    font-weight: 900;
    background: linear-gradient(90deg, #fff, #c084fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-family);
    font-size: var(--font-style);
    font-weight: var(--font-weight);


}

.dark-mode .hero-first h2 {
    background: linear-gradient(90deg, #3f007d, #6a0dad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.hero-first h2 span {
    color: #c16af3;
    -webkit-text-fill-color: #c16af3;
    position: relative;
}

.hero-first h2 span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: #c16af3;
    height: 4px;
    width: 100px;
    border-radius: 2px;
}

.dark-mode .hero-first h2 span {
    background: linear-gradient(120deg, #3f007d, #6a0dad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-first-sc {
    padding: 10px;
    text-align: left;
}

.hero-first-sc p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    word-spacing: 2px;
}

.dark-mode .hero-first-sc p {
    color: #5a189a;
}

/* second hero */

.hero-second {
    margin: 40px 0 0 50px;
    width: 480px;
    height: 480px;
    padding: 2px;
    border-radius: 3%;
    animation: t-b 2s linear infinite;

}

.hero-second img {
    filter: drop-shadow(0 0 10px rgb(94, 2, 55));

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;

}

@keyframes t-b {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

/*  */

.btns {
    text-align: left;
    display: flex;
    gap: 10px;
}

.btns a {
    background: linear-gradient(90deg, #570486, #c16af3);
    border-radius: 60px;
    padding: 9px 20px;
    transition: 0.9s ease;
    display: inline-block;
    width: 200px;
    color: var(--bgortext-color-white);
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
    box-shadow: 0 0 1px 1px #686767;
    position: relative;

}

.btns a:hover {
    transform: translateY(-7px);
    box-shadow: 0 0 1px 1px #fff;

}


.btns a:nth-of-type(2) {
    background: linear-gradient(rgb(0, 0, 0, 0.2));
    box-shadow: 0 0 1px 1px #686767;
    backdrop-filter: blur(10px);
    overflow: hidden;
    z-index: 222;

}

.btns a:nth-of-type(2)::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 200px;
    transition: 0.9s ease;
    background: linear-gradient(90deg, #570486, #c16af3);
    z-index: -1;
}

.btns a:nth-of-type(2):hover {
    box-shadow: 0 0 1px 1px #fff;

}

.btns a:nth-of-type(2):hover::after {
    width: 200px;

}


/*  */



/* REMEMBER MEDIA FOR IPAD */
/*  */

.main-tech-st {
    color: var(--bgortext-color-white);
    padding: 10px;
    height: 100vh;
}

.tech-st {
    text-align: center;
    margin: 40px 0;
}

.tech-st h3 {
    font-size: 2.5rem;
    background: linear-gradient(90deg, #c084fc, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tech-st p {
    font-size: 1.1rem;
}

/*  */

.stacks {
    background: rgba(128, 0, 128, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    height: 400px;
    width: 100%;
    padding: 20px 20px;
    border: 1px solid #686767;
    border-radius: 15px;
    margin: 0 auto;
    transition: border 0.9s ease;
}


.stacks:hover {
    border: 2px solid var(--bgortext-color-white);
}

.stacks h4 {
    margin-bottom: 20px;
    text-align: left;
    font-size: 1.3rem;
}

.stacks p {
    background: linear-gradient(rgb(0, 0, 0, 0.4));
    width: 120px;
    padding: 5px 1px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #c084fc;
    font-size: 1rem;
}

/*  */



.about-main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: var(--bgortext-color-white);
    padding: 30px;
    height: 55vh;
    color: var(--bgortext-color-white);

}

.about-main h3 {
    font-size: 2.5rem;
    background: linear-gradient(90deg, #c084fc, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-main p {
    margin-bottom: 25px;
    font-size: 1.1rem;
    line-height: 2;
    word-spacing: 2px;
}

.about-main a {
    background: linear-gradient(90deg, #570486, #c16af3);
    color: var(--bgortext-color-white);
    display: inline-block;
    width: 200px;
    padding: 10px;
    border: none;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #686767;
    text-decoration: none;
}

.about-main a:active {
    background: linear-gradient(90deg, #7308b1, #c179eb);
}

.bg-for-2-se {
    background-color: #1a002b;

}

.about-main .fa-arrow-right {
    animation: fas 1s infinite linear;
    margin-left: 10px;
}

@keyframes fas {
    from {
        transform: translateX(5px);
    }

    to {
        transform: translateX(-8px);
    }
}


.aboutfor-cl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 36px;
}

.aboutfor-ch {
    margin: 0 15px;
    background: linear-gradient(rgb(0, 0, 0, 0.2));
    padding: 10px 27px;
    border-radius: 10px;
    backdrop-filter: blur(20px);

}

.aboutfor-ch h4 {
    text-align: left;
    color: #64198f;
    font-weight: 800;
    margin: 0;
    font-size: 3rem;

}

/*  */
.skills-main {
    background-color: #450d6b;
    margin: 60px 0;
    padding: 40px 0;
}

.Skills-section {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    flex-direction: column;
    text-align: center;
}

.Skills-section h3 {
    font-size: 2.5rem;
    background: linear-gradient(90deg, #c084fc, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-ch {
    border: 1px dotted var(--bgortext-color-white);
    margin: 10px;
    padding: 10px;
    text-align: left;
}

.bar {
    width: 180px;
    height: 10px;
    background-color: #e9ddff;
    overflow: hidden;
    border-radius: 50px;

}

.bar-ch {
    width: 90%;
    height: 10px;
    background: linear-gradient(90deg, #6d28d9, #a855f7);
    border-radius: 50px;
}

.bar-ch2 {
    width: 83%;
    height: 10px;
    background: linear-gradient(90deg, #6d28d9, #a855f7);
    border-radius: 50px;
}

.bar-ch3 {
    width: 95%;
    height: 10px;
    background: linear-gradient(90deg, #6d28d9, #a855f7);
    border-radius: 50px;
}

.bar-ch4 {
    width: 75%;
    height: 10px;
    background: linear-gradient(90deg, #6d28d9, #a855f7);
    border-radius: 50px;
}

.bar-ch5 {
    width: 88%;
    height: 10px;
    background: linear-gradient(90deg, #6d28d9, #a855f7);
    border-radius: 50px;
}

.bar-ch6 {
    width: 90%;
    height: 10px;
    background: linear-gradient(90deg, #6d28d9, #a855f7);
    border-radius: 50px;
}


/*  */
.service-first {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    flex-direction: column;
}

.service-first h3 {
    font-size: 2.5rem;
}

.service-ch {
    margin: 15px 0;
    background: linear-gradient(135deg, #6a0dad11, #8558af22);
    padding: 15px;
    border-radius: 10px;
    border-left: #c16af3 2px solid;
    text-align: left;
    position: relative;
    z-index: 445;
    overflow: hidden;
}

.service-ch::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 0;
    z-index: -1;
    transition: 0.9s ease;

}

.service-ch::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
    width: 0;
    z-index: -1;
    transition: 0.9s ease;
}



.service-ch:hover::after {
    background-color: #7c3aed;
    width: 380px;


}

.service-ch:hover::before {
    background-color: #64198f;
    width: 380px;
}

.service-ch .fa-code {
    background-color: #6d28d9;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 5px;
    transition: 0.9s ease;
}

.service-ch .fa-code:hover {
    transform: rotate(35deg);
    background-color: var(--bgortext-color-white);
    color: #6d28d9;
}

.service-ch .fa-tv {
    background-color: #6d28d9;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 5px;
    transition: 0.9s ease;

}

.service-ch .fa-tv:hover {
    transform: rotate(-35deg);
    background-color: var(--bgortext-color-white);
    color: #6d28d9;

}

.service-ch .fa-mobile-screen-button {
    background-color: #6d28d9;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 5px;
    transition: 0.9s ease;

}

.service-ch .fa-mobile-screen-button:hover {
    transform: rotate(35deg);
    background-color: var(--bgortext-color-white);
    color: #6d28d9;

}


.service-ch .fa-magnifying-glass-chart {
    background-color: #6d28d9;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 5px;
    transition: 0.9s ease;

}

.service-ch .fa-magnifying-glass-chart:hover {
    transform: rotate(-35deg);
    background-color: var(--bgortext-color-white);
    color: #6d28d9;

}


.service-ch .fa-gears {
    background-color: #6d28d9;
    padding: 15px;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: 0.9s ease;

}

.service-ch .fa-gears:hover {
    transform: rotate(35deg);
    background-color: var(--bgortext-color-white);
    color: #6d28d9;
}

.service-ch .fa-briefcase {
    background-color: #6d28d9;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 5px;
    transition: 0.9s ease;

}

.service-ch .fa-briefcase:hover {
    transform: rotate(-35deg);
    background-color: var(--bgortext-color-white);
    color: #6d28d9;
}


/*  */
.project-first {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    flex-direction: column;
}

.project-first h3 {
    font-size: 2.5rem;
}

.project-first .fa-lightbulb {
    color: #6d28d9;
}

/*  */

.project-real {
    width: 400px;
    height: 236px;
    position: relative;
    overflow: hidden;
    margin: 0 0 40px;
    background-color: #64198f;
    padding: 10px;
    border-radius: 10px;
    text-align: left;

}

.over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    opacity: 0;
    transition: 0.9s ease;

}

.project-real:hover .over {
    opacity: 1;
}

.project-real img {
    object-fit: cover;
    width: 100%;
    border-radius: 13px;
    height: auto;
    display: block;
}

.project-real .sp {
    position: absolute;
    top: 20px;
    left: 10px;

    font-size: 15px !important;
    color: var(--bgortext-color-white);
    animation: pop 2s infinite linear;
    border-radius: 60px;
    background: rgba(136, 47, 117, 0.55);
    border: 1px solid rgb(176, 140, 212);
    backdrop-filter: blur(10px);
    padding: 6px 5px;
    text-align: center;
}

.project-t-d-b {
    display: none;
    transition: 0.9s ease;
    text-align: left;
}

.project-real:hover .project-t-d-b {
    display: block;
    position: absolute;
    top: 90px;
    left: 20px;
    z-index: 332;
}

.project-t-d-b a {

    color: var(--bgortext-color-white);
    text-decoration: none;
    font-family: sans-serif;

}

.project-t-d-b .fa-arrow-right {
    color: var(--bgortext-color-white);
}

/*  */
.testi {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    flex-direction: column;
}

.testi-main-1 {
    margin-bottom: 70px;
}

.testi-main {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    width: 600px;
    margin: auto;
    background-color: #570486;
    padding: 30px;
    scroll-behavior: smooth;

}

.testi h3 {
    font-size: 2.5rem;

}

.test-review {
    background-color: #a855f7;
    max-width: 400px;
    flex-shrink: 0;
    padding: 30px 10px;
    height: 250px;
    border-radius: 10px;
    text-align: left;
    flex-direction: column;
}

.testi-main::-webkit-scrollbar {
    display: none;
}

.test-review .fa-star {
    color: #6a0dad;
}

.btns-review {
    text-align: center;
    margin: 16px 0;
}

.btns-review button {
    background-color: #570486;
    color: var(--bgortext-color-white);
    border: 0;
    padding: 10px;
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    border-radius: 10px;
    transition: 0.9s ease;

}

.btns-review button:hover {
    background-color: #701ca0;
}

/*  */
.contact-main {
    background: linear-gradient(90deg, #a855f7, #6d28d9);
    text-align: center;
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    flex-direction: column;
}

.contact-main a {
    background-color: var(--bgortext-color-white);
    color: #6d28d9;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    width: 130px;
    border-radius: 10px;
}

/*  */
.footer-main {
    text-align: center;
    margin-top: 90px;
}

.foot-ch {
    text-align: left;
    display: inline-block;

}

.foot-ch a {
    text-decoration: none;
    color: var(--bgortext-color-white);
    transition: 0.9s ease;
}

.foot-ch .fa-clock {
    margin-right: 10px;
}

.foot-ch h4 {
    position: relative;
}

.foot-ch h4::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    height: 4px;
    width: 50px;
    background-color: #7c3aed;
}

.fa-brands {
    background-color: #7c3aed;
    padding: 10px;
    border-radius: 70%;
}


/*  */
/*  */
@media (max-width: 767px) {

    /* Navbar */
    .navbar-nav {
        margin: 0;
    }

    .navbar-brand {
        margin-left: 0;
    }

    /* Hero */
    .main {
        height: auto;
        padding: 40px 0;
    }

    .hero-first {
        text-align: left;
        margin-top: 20px;
    }

    .hero-first h2 span::after {
        width: 100%;
    }

    .hero-first h2 {
        font-size: 2rem;
    }

    .hero-first-sc {
        text-align: left;
    }


    .btns {
        flex-direction: column;
        align-items: center;
    }

    .btns a {
        width: 100%;
        max-width: 300px;
    }

    .hero-second {
        width: 100%;
        max-width: 320px;
        height: auto;
        aspect-ratio: 1/1;
        margin: 30px auto 0;
    }

    /* Tech Stack */
    .main-tech-st {
        height: auto;
        padding: 40px 15px;
    }

    .tech-st h3,
    .about-main h3,
    .Skills-section h3,
    .service-first h3,
    .project-first h3,
    .testi h3 {
        font-size: 2rem;
    }

    .stacks {
        width: 100%;
        height: auto;
        text-align: left;
        padding: 15px;
        margin-bottom: 10px;
    }

    .stacks span {
        display: block;
    }

    .stacks p {
        width: 100%;
    }

    .stacks h4 {
        text-align: left;
    }


    /* About */
    .about-main {
        height: auto;
        padding: 40px 15px;
    }


    .about-main p br {
        display: none;
    }

    .aboutfor-cl {
        flex-wrap: wrap;
    }

    .aboutfor-ch {
        width: 100%;
        margin: 10px 0;
        box-shadow: 0 3px 1px #570486;

    }

    .aboutfor-ch h4 {
        text-align: center;
        font-size: 2rem;
    }

    /* Skills */
    .bar {
        width: 100%;
    }

    /* Services */
    .service-ch {
        margin: 10px 0;
    }

    /* Projects */
    .project-real {
        width: 100%;
        height: auto;
    }

    /* Testimonials */
    .testi {
        text-align: center;
    }

    .testi-main {
        width: 100%;
        padding: 15px;
    }

    .test-review {
        max-width: 280px;
    }

    /* Contact CTA */
    .contact-main {
        width: 95%;
        height: auto;
        padding: 30px 15px;
    }

    /* Footer */
    .foot-ch {
        display: block;
        margin-bottom: 20px;
    }
}

/* done for media quires for small device */

@media (min-width: 768px) and (max-width: 1024px) {

    /* Navbar */
    .navbar-nav {
        margin-left: 0;
    }

    .nav-item {
        margin-right: 20px;
    }

    /* Hero */
    .main {
        height: auto;
        padding: 50px 0;
    }

    .hero-first h2 {
        font-size: 2rem !important;
    }

    .hero-second {
        width: 400px;
        height: 400px;
        margin: 40px auto;
    }

    /* Tech Stack */
    .main-tech-st {
        height: auto;
    }

    .stacks {
        height: auto;
        min-height: 300px;
        margin-bottom: 20px;
    }

    /* About */
    .about-main {
        height: auto;
        padding: 50px 20px;
    }

    .aboutfor-cl {
        flex-wrap: wrap;
    }

    .aboutfor-ch {
        margin: 10px;
    }

    /* Projects */
    .project-real {
        width: 100%;
    }

    /* Testimonials */
    .testi-main {
        width: 90%;
    }

    /* Contact CTA */
    .contact-main {
        width: 90%;
    }
}